body {
background-color: #c6d8de;
overflow-y: scroll;
margin: 0px;
padding: 0px;
}

banner {
position: static;
display: flow-root;
width: 100%;
top: 0;
background-color: black;
text-align: center;
}

bannerimg {
max-height: 100%;
max-width: 99%;
}

#button-menu {
display: flex;
border-spacing: 0px;
}

button {
border: 0px;
height: 30px;
background-color: black;
}

button:hover {
border: 1px;
border-radius: 10px;
height: 30px;
background-color: #313131;
}

buttonText {
color: white;
}

mainbody {
top: 100px;
position: static;
height: 800px;
left: 10%;
right: 10%;
top: 100px;
background-color: wheat;
text-align: center;
}

table {
border: 1px solid black;
}

#mainPageSplit {
display: flex;
flex-wrap: wrap;
justify-content: center;
border-collapse: separate;
}

#sides {
display: flex;
flex-wrap: wrap;
justify-content: center;
border-collapse: separate;
}

#mainPageContent {
width: 100;
display: flex;
flex-wrap: wrap;
justify-content: center;
border-collapse: separate;
border-spacing: 50px 30px;
}

textByImg {
height: auto;
width: auto;
}

contact {
color: white;
}

audio {
visibility: hidden;
}

footer {
position: static;
height: 100px;
width: 100%;
background-color: black;
text-align: center;
}
			
h1 {
color: white;
font-size: 40px;
}

h2 {
color: white;
font-size: 48px;
}

maintext {
color: black;
font-size: 24px;
}




[class*="col-left"] {
  float: left;
}

[class*="col-right"] {
  float: right;
}

[class*="col-main"] {
  float: inline-start;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

@media only screen and (min-width: 300px) {
/* For mobile phones: */
  .col-left-s {width: 100%;}
  .col-main-s {width: 100%;}
  .col-right-s {width: 100%;}
  .table-left-s {height: fit;}
  .table-main-s {height: fit;}
  .table-right-s {height: fit;}
  .button-s {width: 80px}
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-left-m {width: 100%;}
  .col-main-m {width: 100%;}
  .col-right-m {width: 100%;}
  .table-left-m {height: fit;}
  .table-main-m {height: fit;}
  .table-right-m {height: fit;}
  .button-m {width: 100px}
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-left-l {width: 20%; height: 815px;}
  .col-main-l {width: 60%; height: 815px;}
  .col-right-l {width: 20%; height: 815px;}
  .table-left-l {height: 815px;}
  .table-main-l {height: 815px;}
  .table-right-l {height: 815px;}
  .button-l {width: 140px}
}